<%- include("partials/header.ejs") %>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/image.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">If you have something to say, just CHIRP IT!!</h1>
        <p class="lead">Everybody has something on their mind, maybe a racist thought, a divisive opinion, or maybe some science and years of evidence defying conspiracy theory. We believe that you should have a say as well, so, whatever it is just CHIRP IT!!! </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
         
         <a href="/chirp"> <button type="button" class="btn btn-primary">CHIRP</button></a>
        </div>
      </div>
    </div>
    <% for( let index = 0; index < result.length; index++ ) { %>
      
      <h3><%= result[index].title %></h3>
      <small> Date modified : <%= result[index].date %></small>
      <p><%= result[index].content %></p>
      <div class="small">
        <div>
      <small> AUTHOR : <%= result[index].author %></small>
      
        </div>
        <div>
          
      <a class="edit" href="/edit/<%= result[index].id %>">Edit</a>
      
      <a class="delete" href="/posts/<%= result[index].id %>" >Delete</a>
    
         </div>
    </div>
      <hr/>
    
    
    <% } %>
   
    
     
  </div>
 


<%- include("partials/footer.ejs") %>